@use "../../styles/variables" as vars;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  width: 100%;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid #f1f1f5;
  border-top-color: vars.$accentColor;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
