$font-path: "/fonts/";
$font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-weight: 400;

$white: #fff;
$black: #242424;
$accentColor: #A73AFD;
$main_gradient: linear-gradient(97.26deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #7c1af8 99.15%), linear-gradient(#0000000d, #0000000d);
