.main_header {
  max-width: 1504px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 32px;
}

.list {
  position: relative;
  width: 100%;
}

.row {
  display: grid;
  gap: 24px;

  grid-template-columns: repeat(6, minmax(0, 1fr));

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.cardLink {
  width: 100%;
  text-decoration: none;
}
